
<div class="banner" style="background: linear-gradient(-225deg, rgba(148, 219, 70, 0.6) 0%, rgba(184,255,89,0.3) 50%), url('https://static.pexels.com/photos/205961/pexels-photo-205961.jpeg');">
  <div class="banner-content">
    <h1>Become a partner</h1>
    <p>Increase your revenues by reducing food waste and attract new customers in your store</p>
  </div>
</div>

<div class="container text-center padded features">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <img src="http://img.freepik.com/free-icon/recycle-bin-interface-symbol_318-56523.jpg?size=338&amp;ext=jpg" width="103" height="93" alt="">
      <h2>Reduce food waste</h2>
      <p>Sell your food rather than throwing it away</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <img src="http://www.tesradio.com/resources/client%20icon.png" width="103" height="93" alt="">
      <h2>Attract new clients</h2>
      <p>Be visible to a new community of local customers</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <img src="https://image.freepik.com/free-icon/euro-banknotes-stack_318-56433.jpg" width="103" height="93" alt="">
      <h2>Increase your revenues</h2>
      <p></p>
    </div>
  </div>
</div>

<div class="text-center padded" id="newsletter">
  <h2>Partner with us</h2>
  <p>After you submit this form, a member of the Gaspiranha team will get in touch with you</p>
  <%= render 'form', shop: @shop %>
</div>
