<h1><%= @user.username %></h1>
<p>Email: <%= @user.email %></p>
<p>Adress: <%= @user.address %></p>
<%= link_to "Back to promotions", promotion_path(promotion) %>
<% end %>
<h3>Boutons edit - delete</h3>
