<% if notice %>
  <div class="alert alert-info alert-dismissible animated fadeInDown" role="alert">
    <button type="button slideUp" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-warning alert-dismissible animated fadeIn" role="alert">
    <button type="button slideUp" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= alert %>
  </div>
<% end %>
