<footer class="top">

<div class="container-fluid">
<div class="row">
<div class="col-xs-12 col-sm-4 col-md-4">
Contact
</div>
<div class="col-xs-12 col-sm-4 col-md-4">
About
</div>
<div class="col-xs-12 col-sm-4 col-md-4">
Follow us
</div>
</div>

</footer>
