<footer class="top">
<div class="container-fluid">
<div class="row">
<div class="col-xs-12 col-sm-4 col-md-4">
Contact
<p>contact me with a email</p>
</div>
<div class="col-xs-12 col-sm-4 col-md-4">
About
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non necessitatibus natus perspiciatis dolorum ab quam pra</p>
</div>
<div class="col-xs-12 col-sm-4 col-md-4">
Follow us
<ul>
  <li>facebook</li>
  <li>twitter</li>
  <li>etc</li>
</ul>
</div>
</div>
</footer>
