<footer>
<div class="container">
<div class="row">
<div class="col-xs-12 col-md-4">
<strong><p>Contact</p></strong>
<p>contact us @ bragard.martin@gmail.com</p>
</div>
<div class="col-xs-12 col-md-4">
<strong><p>About</p></strong>
<p>Robin Food aims to reduce food waste by connecting local shops with nearby demand </p>
</div>
<div class="col-xs-12 col-md-4">
<strong><p>Follow us</p></strong>
<ul>
 <li><a href=""><i class="fa fa-youtube"></i></a></li>
 <li><a href=""><i class="fa fa-instagram"></i></a></li>
 <li><a href=""><i class="fa fa-facebook"></i></a></li>
 <li><a href=""><i class="fa fa-twitter"></i></a></li>
</ul>
</div>
</div>
</footer>
