<div class="banner" style="background: url('<%= image_url('landingpage.jpg')%>'); background-size: cover !important;">

  <div class="banner-content">
    <h1>Too good to waste</h1>
    <p>Eat green. Eat cheap. Reduce food waste</p>
    <%= link_to "Today's deals", promotions_path, class:'btn btn-default btn-medium-submit bottom' %>
  </div>

</div>
<div class="container-fluid padded text-center bottom" style="background-color: #CFD1D0;">
  <div class="row">
    <p style="font-size: 22px; line-height: 40px;">Robin Food store aims to reduce food waste by connecting local shops with nearby consumers<br>

      We give the opportunity to shops and restaurants to list products approaching the limit date of sale
      <br>Our community have the possibility to buy the products at a discount price
    </p>
  </div>
</div>

<div class="container text-center top">

  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <p class="btn-p text-center bottom"><strong>1</strong></p>
      <p class="font topp bottom">Insert your current location and browse all the available promotions nearby</p>

      <p class="btn-p text-center bottom"><strong>2</strong></p>
      <p class="font topp bottom">Select and book the food you want</p>

      <p class="btn-p text-center bottom"><strong>3</strong></p>
      <p class="font topp bottom">Go at the store and enter the Robin Food code displayed on the shelve</p>

      <p class="btn-p text-center bottom"><strong>4</strong></p>
      <p class="font topp bottom">Show the coupon to the merchant/cashier to enjoy the discounted price</p>

      <p class="btn-p text-center bottom"><strong>5</strong></p>
      <p class="font topp bottom">Pay at the store and enjoy the delicious food</p>
    </div>
  </div>
</div>
