<div class="banner" style="background: url('<%= image_url('landingpage.jpg')%>'); background-size: cover !important;">

  <div class="banner-content">
    <h1>Too good to waste</h1>
    <p>Eat green. Eat cheap. Reduce food waste</p>
    <%= link_to "Today's deals", promotions_path, class:'btn btn-default btn-medium-submit bottom' %>
  </div>

</div>
<div class="container-fluid padded text-center bottom" style="background-color: #CFD1D0;">
  <div class="row">
    <p style="font-size: 22px; line-height: 40px;">RobinFood.store aims to reduce food waste by connecting local shops with nearby consumers.<br>

      We give the opportunity to local shops to list their products approaching the limit date of sale.
      <br>Our community of users then have the possibility to buy them at a discount price.
    </p>
  </div>
</div>

<div class="container text-center top">

  <div class="row">
    <div class="col-xs-12 col-md-12">
      <p class="btn-p text-center bottom"><strong>1</strong></p>
      <p class="font topp bottom">Enter your current location and browse all the available promotions nearby</p>

      <p class="btn-p text-center bottom"><strong>2</strong></p>
      <p class="font topp bottom">Select and book the food you would like to eat</p>

      <p class="btn-p text-center bottom"><strong>3</strong></p>
      <p class="font topp bottom">Go at the store and enter the Robin Food code displayed on the shelve</p>

      <p class="btn-p text-center bottom"><strong>4</strong></p>
      <p class="font topp bottom">The code will generate a coupon. Show it to the merchant/cashier to enjoy the discounted price</p>

      <p class="btn-p text-center bottom"><strong>5</strong></p>
      <p class="font topp bottom">Pay at the store and enjoy the delicious food that had</p>
    </div>
  </div>
</div>
