<div class="banner" style="background: url('<%= image_url('banner.jpg')%>'); background-size: cover !important;">

  <div class="banner-content">
    <h1>Too good to waste</h1>
    <p>Eat green. Eat cheap. Reduce food waste</p>
     <%= link_to "Today's deals", promotions_path, class:'btn btn-default btn-medium-submit bottom' %>
  </div>

</div>

<div class="text-center padded" id="newsletter">
  <h3>RobinFood.store aims to reduce food waste by connecting local shops with nearby consumers looking for quality food.
  </h3>

   <h3>
   We give the opportunity to local shops to list their products approaching the limit date of sale. Our community of users then have the possibility to buy them at a discount price.
  </h3>
</div>
