.banner {
  text-align: center;
  height: 90vh;
  width: 100%;
  max-height: 720px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover !important;
  position: relative;
}
.banner h1 {
  font-size: 50px;
  font-weight: $font-weight-bold;
  color: white;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.44);
  padding: 20px;
  margin-bottom: 0px;
}


.banner p {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 0, 0.44);
  margin-bottom: 50px;
}
