.banner {
  text-align: center;
  height: 90vh;
  width: 100%;
  max-height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  color:white;
  text-shadow: 4px 3px 4px rgba(0, 0, 0, 0.5);
}


.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 50px;
}
