.navbar-default {
    background-color: #ffffff;
    border-color: transparent;
    padding: 10px;
    height: 70px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
}

a.navbar-brand {
  font-weight:bold;
  font-size: 24px;
  font-family: "Raleway", "Helvetica", "sans-serif";
}

.navbar-default .navbar-brand {
    color: #333333;
}

.navbar-right {
    height: 50px;
    padding: 14px;
}
.navbar-right a{

  color: #333333;
  margin-left: 20px;
}

a.sign.btn.btn-form{ color: white;  width: 95px; height: 35px !important;}

.navbar-right a.sign.btn.btn-form:hover {
    color: #94db46;
    background-color: white;
}


.dropdown {
    position: relative;
    top: -10px;
}

.dropdown-menu{ padding: 0 0;}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 30px;
    clear: both;
    font-weight: normal;
    line-height: 2.4;
    color: #333333;
    white-space: nowrap;
}
