.cart-sec{ position: relative;}

.cart-sec img {
    position: relative;
    max-height: 300px;
}

.cart-item-info {
    top: 0px;
    position: relative;
}

.cart-edit{
    text-align: center;
    margin-top: 65px;
}
.cart-confirm {
    margin-top: 75px;
}
