.orderlinecard{
  height: auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);
  color: #333333;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  background-color: white;
}

.image-container {
    position: relative;
    display: flex;
    max-height: 300px;
}

.resume {
    position: absolute;
    background-color: rgba(red, 0.75);
    top: 27%;
    color: #ffffff;
    width: 100%;
    padding: 15px;
    font-weight: bold;
    left: 0;
}

.resumed {
    position: absolute;
    background-color: rgba(148, 219, 70, 0.75);
    top: 27%;
    color: #333333;
    width: 100%;
    padding: 15px;
    font-weight: bold;
    left: 0;
}

form.simple_form.confirm {
  position: relative;
  bottom: -200px;
}


