.form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    padding: 25px;
}

.form-control {
    display: block;
    width: 90%;
    margin: 5%;
}
input#current_location {
    height: 50px;
}

